html {
    box-sizing: border-box;

  }
  *, *:before, *:after {
    box-sizing: inherit;
  }


.display-none {
  display:none;
}

  /* intro */
#intro {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: white;
  flex-direction: column;
  gap: 100px;
}

#title{
  font-size: 100px;
  /* margin-left: 30%;
  margin-bottom: 200px; */
}

#options{
  display: grid;
  grid-gap: 20px 30px;
}

.item1{
  grid-row-start: 1;
  grid-column-end: 1;
}

.item2{
  grid-row-start: 1;
  grid-column-end: 2;
  font-size: 40px;
}

.item4{
  font-size: 40px;
}

.item5{
  grid-row-start: 3;
  grid-column-end: 2;
  font-size: 30px;
  width: 200px;
}

  /* game board */

#game-window{
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 100px;
  height: 100vh;
}

#game-board {
  width: 600px;
	height: 600px;
	margin: 0 auto;
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 10px;
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);

}

.board {
  border: 6px solid black;
  font-weight: bold;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* end window */

#end-window{
  display: none;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}